extensions:
    monolog: Contributte\Monolog\DI\MonologExtension
    rabbit_mq: RabbitMqBundle\DI\RabbitMqExtension

rabbit_mq:
    connections:
        default:
            host: rabbitmq

    queues:
        my-queue:
            arguments:
                my-arg: my-value
            bindings:
                -
                    exchange: my-exchange
                    routing_key: routing-key
                    arguments:
                        my-arg: my-value

    exchanges:
        my-exchange:
            type: 'direct'
            passive: false
            durable: false
            auto_delete: false
            internal: false
            no_wait: false
            arguments:
                my-arg: my-value
            bindings:
                -
                    exchange: my-exchange
                    routing-key: routing-key
                    arguments:
                        my-arg: my-value

    publishers:
       my-publisher:
            routing_key: routing-key # queue name or routing key
            exchange: my-exchange
            mandatory: false
            immediate: false

    consumers:
        my-consumer:
            queue: my-queue
            callback: @rabbit_mq.null_callback

monolog:
    tracy:
        hook: true
    channel:
        default:
            handlers:
                -
                    type: Monolog\Handler\RotatingFileHandler
                    arguments:
                        - %appDir%/../log/log.log
                        - 30
                        - Monolog\Logger::WARNING
            processors:
                -  Monolog\Processor\MemoryPeakUsageProcessor()
