includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	ignoreErrors:
	    - '#Unreachable statement - code above always terminates#'
	    - '#PHPDoc tag @var for variable \$clientFactory contains unresolvable type#'
	    -
	        message: '#Calling var_dump\(\) is forbidden, use logger instead#'
	        path: src/Consumer/Callback/DumpCallback.php