includes:
    - vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/RabbitBundleTests_app_KernelTestDebugContainer.xml
    ignoreErrors:
        -
            message: '#Variable method call on PhpAmqpLib\\Channel\\AMQPChannel#'
            path: tests/*
        -
            message: '#PHPDoc tag @var for variable \$.+ contains unresolvable type#'
            path: tests/*
        -
            message: '#Calling var_dump\(\) is forbidden, use logger instead#'
            paths:
                - src/Consumer/Callback/DumpCallback.php
                - src/Consumer/Callback/DumpAsyncCallback.php
        -
            message: '#Negated boolean expression is always true#'
            path: src/Publisher/Publisher.php